{% extends 'layout.twig' %}

{% block content %}
    {% if user.primaryKey %}
        {% include '_form.twig' %}
    {% else %}
        <div class="alert alert-danger text-center">Access denied.</div>
    {% endif %}
{% endblock %}
