<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Test App</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand mb-0 h1">BeeJee</a>
                    {% if user.primaryKey %}
                        <span class="text-light">Hey, {{ user.username }}!</span>
                        <a href="/signout" class="btn btn-primary">Sign out</a>
                    {% else %}
                        <a href="/signin">Sign in</a>
                    {% endif %}
        </div>
    </nav>

    <main class="container py-3">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
